<main id="root"></main>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    logo: "<%= image_path("remember-everything-logo.png") %>",
    logoBlue: "<%= image_path("remember-everything-logo-blue.png") %>",
    todoGuy: "<%= image_path("landing-base.png") %>",
    leftArmBottom: "<%= image_path("left-arm-bottom.png") %>",
    leftArmTop: "<%= image_path("left-arm-top.png") %>",
    rightArmTop: "<%= image_path("right-arm-top.png") %>",
    rightArmBottom: "<%= image_path("right-arm-bottom.png") %>",
    smile: "<%= image_path("smile.png") %>"
  };
</script>
